@model IEnumerable<NewMVCApplication.Entities.Customer>

@{
    ViewData["Title"] = "Customer List";
}

<h2>Customer List</h2>

<table class="table">
    <thead>
        <tr>
            <th>Name</th>
            <th>Email</th>
            <th>Phone Number</th>
            <th>Address</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var customer in Model)
        {
            <tr>
                <td>@customer.Name</td>
                <td>@customer.Email</td>
                <td>@customer.PhoneNumber</td>
                <td>@customer.Address</td>
            </tr>
        }
    </tbody>
</table>
